h1 {
  font-size: 30px;
}
h1, h3 {
  font-family:verdana;
}
body {
margin-left: 350px;
 margin-right: 350px;
 background-color: #f3f3f3;
}
ul {
  margin-left: 40px;
  font-family:monospace;
  font-size: 18px;
}
img {
  margin-left: 200px;
}
a {
  text-decoration-color: blue;
}
.fio, .hochu, .contacts {
  border-bottom: 1px solid gray;
}
