* {
  font-family: verdana;
  font-weight: lighter;
}
.wrapper {
  width: 965px;
  height: 950px;
  margin: 0 auto;
}
h1 {
  font-size: 50px;
  color: #333333;
}
.img {
  height: 295px;
  width: 485px;
  padding: 40px 80px;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  margin-top: 40px;
  margin-left: 315px;
}
img {
  height: 295px;
  width: 485px;
}
.menuhead {
  font-size: 14px;
  height: 40px;
  width: 965px;
  color: #ffffff;
  background: linear-gradient(#5e5e5e, #444343);
}
.g {
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  background: linear-gradient(#5e5e5e, #444343);
}
.g:hover {
  background: linear-gradient(#4a4a4a, #2e2e2e);
  border-right-style: solid;
  border-left-style: solid;
  border-width: thin;
  border-color: gray;
}

.t {
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  background: linear-gradient(#5e5e5e, #444343);
}
.t:hover {
  background: linear-gradient(#4a4a4a, #2e2e2e);
  border-right-style: solid;
  border-left-style: solid;
  border-width: thin;
  border-color: gray;
}
.o {
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  background: linear-gradient(#5e5e5e, #444343);
}
.o:hover {
  background: linear-gradient(#4a4a4a, #2e2e2e);
  border-right-style: solid;
  border-left-style: solid;
  border-width: thin;
  border-color: gray;
}
.c {
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  background: linear-gradient(#5e5e5e, #444343);
}
.c:hover {
  background: linear-gradient(#4a4a4a, #2e2e2e);
    border-right-style: solid;
    border-left-style: solid;
    border-width: thin;
    border-color: gray;
}
.menu {
  font-size: 12px;
  margin-top: 40px;
  margin-left: 1px;
  color: grey;
  float: left;
}

#N, #Pl, #Tel, #TV, #BT, #Auto {
   line-height: 40px;
   width: 240px;
   padding-left: 20px;
   border-style: solid;
   border-color: grey;
   border-width: 1px;
}
#N, #Pl, #Tel, #TV, #BT {
  border-bottom: none;
}
#N:hover {
  background-color: #f1f1f1;
}
#Pl:hover {
  background-color: #f1f1f1;
}
#Tel:hover {
  background-color: #f1f1f1;
}
#TV:hover {
  background-color: #f1f1f1;
}
#BT:hover {
  background-color: #f1f1f1;
}
#Auto:hover {
  background-color: #f1f1f1;
}
#Lorem {
  font-size: 12px;
  width: 600px;
  margin-left: 340px;
  margin-top: 50px;
  line-height: 25px;
}
.footer {
  margin-top: 50px;
  font-size: 14px;
  height: 40px;
  width: 965px;
  color: #black;
  background-color: #e1e1e1;
}
#fg {
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  display: inline-block;
}
#fg:hover {
  text-decoration: underline;
}
#ft {
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  display: inline-block;
}
#ft:hover {
  text-decoration: underline;
}
#fo {
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  display: inline-block;
}
#fo:hover {
  text-decoration: underline;
}
#fc {
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  display: inline-block;
}
#fc:hover {
  text-decoration: underline;
}
#all {
  margin-left: 230px;
  width: 190px;
  height: 40px;
  text-align: right;
  line-height: 40px;
  display: inline-block;
}
