* {
  font-family: open sans;
  font-weight: lighter;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: open sans;
  src: url(OpenSans-Regular.ttf);
}
a {
  text-decoration: none;
  color: inherit;
}
.wrapper {
  width: 965px;
  height: 900px;
  margin: 0 auto;
  padding: 50px;
  box-shadow: 0 0 2px 2px #bdbdbd;
}
#Fit {
  height: 100px;
  width: auto;
}
.img {
  height: 295px;
  width: 485px;
  padding: 40px 80px;
  border-style: solid;
  border-width: 1px;
  border-color: #c8c8c8;
  margin-top: 40px;
  margin-left: 315px;
}
img {
  height: 295px;
  width: 485px;
}
.menuhead {
  font-size: 14px;
  height: 40px;
  width: 965px;
  color: #ffffff;
  background: linear-gradient(#5e5e5e, #444343);
}
.g {
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
}
.g:hover {
 border-color: #838383;
}
.t {
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
}
.t:hover {
border-color: #838383;
}
.o {
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
}
.o:hover {
border-color: #838383;
}
.c {
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
}
.c:hover {
border-color: #838383;
}
.menu {
  font-size: 12px;
  margin-top: 40px;
  margin-left: 1px;
  color: grey;
  float: left;
}

#N, #Pl, #Tel, #TV, #BT, #Auto {
   line-height: 40px;
   width: 240px;
   padding-left: 20px;
   border-style: solid;
   border-color: #c8c8c8;
   border-width: 1px;
}
#N, #Pl, #Tel, #TV, #BT {
  border-bottom: none;
}
#N:hover {
  background-color: #f1f1f1;
  color: black;
}
#Pl:hover {
  background-color: #f1f1f1;
  color: black;
}
#Tel:hover {
  background-color: #f1f1f1;
  color: black;
}
#TV:hover {
  background-color: #f1f1f1;
  color: black;
}
#BT:hover {
  background-color: #f1f1f1;
  color: black;
}
#Auto:hover {
  background-color: #f1f1f1;
  color: black;
}
#Lorem {
  font-size: 13px;
  width: 600px;
  margin-left: 340px;
  margin-top: 50px;
  line-height: 20px;
}
.footer {
  margin-top: 50px;
  font-size: 14px;
  height: 40px;
  width: 965px;
  color: #black;
  background-color: #e1e1e1;
}
#fg {
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  display: inline-block;
}
#fg:hover {
  text-decoration: underline;
}
#ft {
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  display: inline-block;
}
#ft:hover {
  text-decoration: underline;
}
#fo {
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  display: inline-block;
}
#fo:hover {
  text-decoration: underline;
}
#fc {
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  display: inline-block;
}
#fc:hover {
  text-decoration: underline;
}
#all {
  margin-left: 230px;
  width: 190px;
  height: 40px;
  text-align: right;
  line-height: 40px;
  display: inline-block;
}
